body {
background-color: #DDF9F4;
}

.td_to_show {
    margin: auto;
    max-width: 60%;
    min-width: 36%;
    width: fit-content;
}

main {
    top: 10%;
}

.text {
    display: block;
    width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.articlePhoto {
    max-width: 60%;
    max-height: 60%;
    display: block;
    margin: auto;
}

.photoContainer img {
    max-width: 250px;
    max-height: 250px;
    margin: 5px;
}

.photoContainer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* header */
.Header {
    position: relative;
    z-index: 9;
}

/* form layout */
.form-layout {
    margin: auto;
    max-width: 60%;
    min-width: 450px;
    position: relative;
}

/* footer */
.Footer_text{
    margin-bottom: auto;
    font-size: medium;
    font-style: italic;
}

.Footer {
    position: relative;
    bottom: 1%;
    left: 1%;
}

